# WordPress API Configuration
NEXT_PUBLIC_WORDPRESS_API_URL=https://cms.somalivingwellness.com/graphql
# Next.js Configuration
NEXT_PUBLIC_SITE_URL=https://somalivingwellness.com         
NEXT_PUBLIC_SITE_TITLE=Soma Living Wellness
NEXT_PUBLIC_SITE_DESCRIPTION=Your source for wellness tips, health advice, and lifestyle inspiration.
NEXT_PUBLIC_SITE_AUTHOR=Soma Living || C.J. Barletta
NEXT_PUBLIC_SITE_KEYWORDS=wellness, health, lifestyle, tips, advice, inspiration
NEXT_PUBLIC_SITE_IMAGE=https://somalivingwellness.com/default-image.jpg

NEXT_PUBLIC_FREE_CDN_BASE=https://soma-website-static-s3.s3.us-east-1.amazonaws.com
# Google Analytics Configuration
